<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2>About</h2>

            <div class="well">
                <p>UCD Students' Union is holding a campus-wide policy
                referendum in order to set the Students' Union policy on
                3rd level funding. This website was created to help you
                become informed before the referendum on the 11th & 12th
                April. Students have never before been given the
                opportunity to vote on this crucial issue, and with student
                fees continuing to rise, it is more relevant than
                ever.</p><br />

                <h3>Background</h3>

                <p>In 1995/96 the 'Free Fees' scheme was introduced for
                full-time undergraduate students. This scheme replaced up
                front fees paid by students with a payment from the
                Exchequer on their behalf. This scheme applied to all
                students attending full-time courses in public Higher
                Education Institutions in Ireland who were:</p>
                <ul>
                    <li>of EU/EEA or Swiss nationality,</li>

                    <li>were first-time undergraduates</li>

                    <li>and had been living in the EU/EEA or Switzerland
                    for at least three of the five years preceding their
                    entry to an approved third level course.</li>
                </ul>

                <p>When the 'Free Fees' scheme was introduced, an
                annual student services charge or 'Registration Fee' of
                £150/€190 was also introduced which was intended to pay
                for other student services such as Careers, Chaplin,
                Counselling, Clubs and Societies along with
                registration and examination fees. However, over the
                next 14 years, the 'Registration Fee' increased almost
                annually and each time a similar amount of money was
                taken out of the funding provided to institutions. In
                Budget 2011, the 'Registration Fee' or 'Student
                Services Charge' was abolished and replaced with a
                direct 'Contribution Charge' thus ending the
                requirement for the funding to be spent on
                registration, examinations and student services. The
                contribution currently stands at €2,250.</p> 
            </div>
        </div>
    </div>
</div>
