<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">

            <h2>Student Contribution / Registration Fee</h2>
            <div class="well">
                <p>The current system of students paying a percentage of the
                costs of their education by means of the Contribution Charge
                spreads the costs of Higher Education between the Exchequer and
                the student/family but the burden is primarily borne by the
                Exchequer. The current Higher Education Grants system pays the
                Student Contribution on behalf of approximately 44% of students
                on the basis of their family income.<p>

                <p>The Contribution Charge, formerly the Registration Fee, has
                increased substantially since its introduction along with the
                ‘free fees’ scheme in 1996/1997. </p><br />

                <table class="table table-striped">
                    <thead>
                        <th>Year</th>
                        <th>Cost</th>
                        <th>Year</th>
                        <th>Cost</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1996/1997</td>
                            <td>€190</td>
                            <td>2006/2007</td>
                            <td>€800</td>
                        </tr>
                        <tr>
                            <td>1997/1998</td>
                            <td>€317</td>
                            <td>2007/2008</td>
                            <td>€825</td>
                        </tr>
                        <tr>
                            <td>1998/1999</td>
                            <td>€330</td>
                            <td>2008/2009</td>
                            <td>€900</td>
                        </tr>
                        <tr>
                            <td>1999/2000</td>
                            <td>€353</td>
                            <td>2009/2012</td>
                            <td>€1,500</td>
                        </tr>
                        <tr>
                            <td>2000/2001</td>
                            <td>€371</td>
                            <td>2010/2011</td>
                            <td>€1,500</td>
                        </tr>
                        <tr>
                            <td>2001/2002</td>
                            <td>€396</td>
                            <td>2011/2012</td>
                            <td>€2,000</td>
                        </tr>
                        <tr>
                            <td>2002/2003</td>
                            <td>€670</td>
                            <td>2012/2013</td>
                            <td>€2,250</td>
                        </tr>
                        <tr>
                            <td>2003/2004</td>
                            <td>€670</td>
                            <td><strong>2013/2014</strong></td>
                            <td><strong>€2,500*</strong></td>
                        </tr>
                        <tr>
                            <td>2004/2005</td>
                            <td>€750</td>
                            <td><strong>2014/2015</strong></td>
                            <td><strong>€2,750*</strong></td>
                        </tr>
                        <tr>
                            <td>2005/2006</td>
                            <td>€775</td>
                            <td><strong>2015/2016</strong></td>
                            <td><strong>€3,000*</strong></td>
                        </tr>
                    </tbody>
                    </table><h6>*Anticipated increases as announced by the
                    Minister for Education & Skills in February 2012</h6><br />

                <p>The majority of the full economic cost of Higher Education
                is still bourn by the Exchequer and it is likely given the
                state of the Irish economy and the public finances that the
                Government will seek to continue to increase the Student
                Contribution in future years resulting in it becoming
                increasingly difficult for families to meet the cost of the
                contribution.</p>

                <p>Students who are just above the maximum threshold for the
                Maintenance Grant get no assistance in paying the Student
                Contribution and in the current climate it is likely that this
                is having a substantial impact on their ability to obtain
                Higher Education qualifications.</p>

                <p>Since the introduction of the ‘Free Fees’ scheme and the
                Student Contribution, formerly Student Services Charge or
                Registration Fee, access rates to Higher Education in Ireland
                have increased enormously, however the proportion of students
                from lower socio economic backgrounds has not increased in line
                with other categories of students.</p>

                <p>There has been a dramatic increase in the number of students
                and a decrease in funding by the Exchequer which has been
                partly offset by the increase in the Student Contribution. This
                raises concerns about the lack of funding affecting the quality
                of education in Irish colleges/universities.</p><br />

                <table class="table table-striped">
                    <thead>
                        <th>Pros</th>
                        <th>Cons</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>The number of school leavers attending third level courses has increased dramatically to almost 7 out of 10 and continues to increase.</td>
                            <td>No additional revenue will be available to colleges/universities and/or the Exchequer to invest in additional facilities or to deliver additional supports to students potentially affecting the quality of education and future employment prospects.</td>
                        </tr>
                        <tr>
                            <td>The means tested maintenance grant system ensures that students from lower socio economic backgrounds have the contribution paid on their behalf.</td>
                            <td>It has become increasingly difficult for families to afford to pay the contribution as it has increased potentially affecting access rates.</td>
                        </tr>
                        <tr>
                            <td>Students in all courses pay the same contribution irrespective of course costs ensuring that students who opt for more expensive courses do not suffer a financial penalty.</td>
                            <td>Increasing numbers of students are having the contribution paid on their behalf as they are in receipt of a grant thus putting additional pressure on the grant system.</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>The means test for availing of the state payment under the grants system is based on parents’ income and not future income of the graduate.</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>There is a huge disparity where full-time undergraduate students pay the contribution while part-time undergraduate and taught masters students pay full upfront fees.</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>It is likely that the contribution will continue to increase.</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Students from other EU countries may chose to study in Ireland due to low fee rates and return home after graduation providing no return on investment for the Irish taxpayer.</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>In the current climate Exchequer is unable to cover cost  of additional students and will likely have to implement a cap on student numbers.</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
