<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10">
            <h2>Welcome to the UCD Students’ Union Referendum
                website.</h2>

            <h4>This site contains all the information you need to give yourself a
                foundation in the various funding models that are proposed in the
                referendum.</h4>

            <div class="well">
                <h3>What are you voting to do?</h3>
                <p><em>You are voting to decide the funding model of higher education which the
                    Students’ Union will be required to form a campaign on.</em></p>

                <p><em>After the referendum the Students’ Union will lobby Government and other
                    parties to introduce the funding model chosen by the membership.</em></p>

                <p>This is the first time ever that UCD students will ever be
                asked to vote on this crucial issue. The outcome of this vote
                may play a huge part in deciding the future of Irish Higher
                Education. Make sure to sure your vote on April 10th &
                11th.</p><br />



                <h3>Why is this important?</h3>
                <p>As the biggest University in Ireland, UCD plays a huge role
                in forming national education policy. The student contribution
                is set to rise to €3,000, the grant has been cut, and
                University funding has been decimated. Many students have
                expressed dissatisfaction with the Union's current policy & so
                a decision was taken to put this question to a referendum.</p>

                <p>It has never been more relevant to ballot the students of
                UCD in order to gauge opinion on this vital issue. Once the
                referendum result is declared, your Students' Union will then
                endeavour to have USI's policy changed to match that of UCD
                Students' Union. Your SU will also be charged with lobbying the
                government and campaigning on behalf of the chosen policy.</p>
            </div>


            <div class="well">
                <p>Please take time to read over each model and explore the differences between
                both, weighing up the pros and cons.</p>

                <p>The funding of higher education is important. Education is key to our
                nation’s future and the future of every man, woman and child on this
                island.</p>

                <p>It is important that you debate the issues with your classmates and friends.
                There are a number of alternative campaigns being run by your fellow students
                during this referendum. Please take time to speak with them, listen to what
                they have to say and then make an informed choice.</p>

                <p>And remember, when going to vote, bring your friends!</p>
            </div>
        </div>
        <div class="span2">
            <ul class="thumbnails">
                <img src="img/side.png" width="100%" alt="Header Logo">
            </ul> 
        </div>
    </div>
</div>
