<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2>Fully Exchequer Funded</h2>
            <div class="well">
                <p> Higher Education is a public good and having increased
                numbers of graduates benefits all of society; economically and
                otherwise.</p>

                <p>Ireland has a progressive taxation system which is designed
                to fund our public services. Third level education is a
                requirement for many professional careers; similar to how
                second level was viewed a generation ago.</p>

                <p>Graduates will, on average, get better jobs, generate more
                economic activity and pay on average 70% more tax over the
                course of their working lives than non-graduates and therefore
                repay the cost of their education.</p>

                <p>However, given the state of the public finances, the numbers
                of students currently in Third Level education, and the
                expected rise in that number over the next decade, it would be
                extraordinarily difficult for the Exchequer to take on even
                greater percentage of the cost. With a huge percentage of the
                funding available going to paying for tuition fees for every
                student, it is likely that less money would be available for
                grants. Therefore while College would theoretically be free,
                students without the money to afford living expenses associated
                with college may still be unable to access Higher
                Education.</p>

                <p>Ireland is an extremely attractive location for EU students
                to come and study as it is a safe, English speaking country
                with lower fees than England, Northern Ireland and Wales. This
                can be seen from the 20% increase in UK students applying to
                study in Ireland next year. As a result, we have a
                disproportionate number of EU students coming to study here
                compared with the number of Irish students going abroad to
                study. This puts even more pressure the system and is a factor
                in CAO points for courses.</p>

                <p>Colleges/Universities in Ireland are already suffering from
                lack of funding, if this funding model was to be implemented,
                i.e. the Student Contribution removed it is likely that general
                taxation would have to increase to avoid a severe reduction in
                the quality of education.</p><br />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Pros</th>
                            <th>Cons</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>The number of school leavers attending third level courses has increased dramatically to almost 7 out of 10 and would likely continue to increase.</td>
                            <td>No additional revenue will be available to colleges/universities and/or the Exchequer to invest in additional facilities or to deliver additional supports to students potentially affecting the quality of education and future employment prospects.</td>
                        </tr>
                        <tr>
                            <td>Education is open and accessible to all as it is paid for by the Exchequer. </td>
                            <td>Students from other EU countries may chose to study in Ireland due to low fee rates and return home after graduation providing no return on investment for the Irish taxpayer.</td>
                        </tr>
                        <tr>
                            <td>Students do not make course decisions based on the cost of courses and instead select a discipline of genuine interest.</td>
                            <td>In the current climate Exchequer is unable to cover cost.</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>No additional funding will be available for maintenance grants.</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Likely increase in general taxation to cover ongoing costs.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
