<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">

            <h2>Graduate Tax</h2>
            <div class="well">
                <p>If a graduate tax were introduced in Ireland, students would
                not pay any fees upfront i.e. Higher Education would be
                completely free at the point of entry. Under the current model
                where it is anticipated that the student contribution will
                increase to circa €3,000 per year by 2015, families are finding
                it increasingly difficult to afford to pay for the costs of
                education. By ensuring Higher Education is totally free at the
                point of entry it means that students from all backgrounds have
                access to a third level education.</p> 

                <p>A graduate tax could be implemented in two ways. Firstly, a
                graduate would repay an additional rate of tax for their entire
                working life however this could lead to a graduate repaying the
                cost of their course many times over. Alternatively a system
                could be implemented where a graduate would be asked to repay
                for a set period of time perhaps 15 years or until such as they
                have repaid a certain percentage of the cost of their course
                this ensuring that the burden for education is borne mostly by
                the Exchequer but contributed to by the graduate.</p>

                <p>In a graduate tax funding model the Exchequer would borrow
                money to cover the cost of Higher Education and the graduate
                would pay an additional amount of tax after a certain threshold
                when they begin earning. If the graduate earns below the
                threshold or is unemployed they don’t pay anything. The
                additional income from repayments by graduates will provide
                additional revenue for colleges & universities to invest in
                additional resources. In a graduate tax model similar to the
                second option above modelled by the National Union of Students
                in the UK (NUS UK), a teacher would repay approx £7 per
                week.</p>

                <p>Unlike a Student Loan Scheme, the individual graduate has no
                personal debt burden i.e. they do not owe any money. This is a
                particularly important distinction as students from lower socio
                economic backgrounds are often debt adverse and may avoid
                Higher Education as they are uncomfortable taking on any level
                of personal debt. Secondly, by having no personal debt it has
                no impact on the graduate’s ability to obtain a mortgage, car
                loan etc.</p>

                <p>One major drawback to a graduate tax model is that a
                graduate may decide to emigrate in order to avoid repayments. A
                second issue is that the repayments are collected through the
                general taxation system and there is no guarantee that the
                money wouldn’t be diverted elsewhere and not be spent on
                education.</p>

                <p>Given the state of the public finances and Ireland’s debt to
                GDP ratio, it may be difficult for the Exchequer to borrow the
                funds necessary to run the scheme as there is a lag of a number
                of years for repayments to begin as the student must graduate
                and begin earning above a minimum threshold. Like a student
                loan scheme, the issue of initial funding may not
                insurmountable and could be advanced by the European Investment
                Bank or perhaps by borrowing money from the National Pension
                Reserve Fund.</p><br />   

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Pros</th>
                            <th>Cons</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>Education is open and accessible to all as
                                it is free at the point of entry and there is
                                no upfront cost.</p></td>
                            <td>Graduates may emigrate to avoid repayments.</td>
                        </tr>
                        <tr>
                            <td>Additional resources will be available for maintenance grants as the state will no longer need to cover the student contribution under the existing system.</td>
                            <td>Significant administrative and implementation costs.</td>
                        </tr>
                        <tr>
                            <td>
                                <p>Additional revenue may be available to colleges/universities and/or the Exchequer to 
                                invest in additional facilities or to deliver
                                additional supports to students.</p>
                            </td>
                            <td>Additional revenue is collected through general taxation and may not be spent on education.</td>
                        </tr>
                        <tr>
                            <td><p>Repayments are income contingent, graduates
                                pay an additional levy or percentage through
                                taxation.</p></td>
                            <td>raduate tax could involve rolling Exchequer borrowings and debt servicing costs which may not be possible in the current climate.</td>
                        </tr>
                        <tr>
                            <td><p>Graduates have no personal debt. This resolves
                                the issue of students from lower socio-economic
                                backgrounds avoiding Higher Education as they
                                are debt adverse and also the issue of
                                graduates being unable to obtain mortgages, car
                                loans etc. due topersonal debt burden.</p></td>
                            <td>There may be a significant time lag before any additional funding is available to colleges/universities as graduates must graduate and begin earning before repaying.</td>
                        </tr>
                        <tr>
                            <td>As graduates do not have a personal debt there is no interest to be paid on repayment.</td>
                            <td>In some graduate tax models graduates repay for life and thus repay the cost of their programme many times over however; this may be negated by introducing a maximum length of payment and/or maximum repayment amount.</td>
                        </tr>
                        <tr>
                            <td>Repayments are based on the graduate’s earnings and not their parents as is the case under the current means test.</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
