<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">

                <h2>Student Loan Scheme</h2>
                    <div class="well">
                        <p>Student loans schemes exist in several countries
                        across the globe where the Government has decided that
                        to ensure a high quality of education the Exchequer and
                        the graduate should jointly bear the cost of Higher
                        Education. To ensure access to Higher Education the
                        State puts in place a loan scheme which is open to all
                        students and does not require a guarantor. The student
                        pays no money upfront and does not begin repayments
                        during their studies. Under this scheme Higher
                        Education is free at the point of entry and thus
                        accessible to all.</p>

                        <p>If a loans scheme was implemented in Ireland, it is
                        likely that it would be ‘income contingent’. That
                        means, that after graduation, no student would have to
                        starting repaying their loan until their income was
                        above a certain threshold and not at all if they were
                        unemployed.</p>    

                        <p>Following graduation a graduate would start repaying
                        the loan after they earn above a defined threshold
                        until either; the loan was paid off or a fixed number
                        of years had passed in which case the remainder of the
                        loan would be written off. The more a graduate earns,
                        the faster they would repay the loan however, if the
                        graduate was unemployed they would make not any
                        repayments. The revenue raised through a student loan
                        scheme could be used to provide additional resources or
                        student supports and to increase the quality of
                        education offered to students.</p>

                        <p>There are however some drawbacks to a student loan
                        scheme, for example graduates could emigrate to avoid
                        paying the loan thereby leaving the system with a
                        significant shortfall. Research has also shown that
                        students who are coming from lower socio-economic
                        backgrounds are ‘debt averse’ meaning they are less
                        likely to take out loans to pay for Higher Education,
                        even when, on average, it is in their long term
                        economic interest to do so.</p>

                        <p>Students with student loans may find it harder to
                        get other loans to such as mortgages as they already
                        have a significant debt burden. In some loan schemes
                        interest on the unpaid balance is added on annual basis
                        until the loan is written off or repaid.</p>

                        <p>Because the State no longer has to pay the student
                        contribution on behalf of students receiving a grant,
                        this releases additional money to extend the
                        maintenance grant to additional students to help them
                        cover the costs of attending Higher Education such as
                        transports, books, accommodation etc.</p>

                        <p>Finally, given the state of the public finances and
                        Ireland’s debt to GDP ratio, it may be difficult for
                        the Exchequer to borrow the funds necessary to run the
                        scheme as it takes a number of years for repayments to
                        begin. The issue of initial funding may not be
                        insurmountable and could be advanced by the European
                        Investment Bank or by borrowing money from the National
                        Pension Reserve Fund.</p><br />

                        <table class="table table-striped">
                            <thead>
                                <th>Pros</th>
                                <th>Cons</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Education is open and accessible to all as it is free at the point of entry and there is no upfront cost.</td>
                                    <td>Lower income groups are debt adverse and may decide to avoid Higher Education to avoid debt.</td>
                                </tr>
                                <tr>
                                    <td>Additional resources will be available for maintenance grants as the state will no longer need to cover the student contribution under the existing system.</td>
                                    <td>Graduates carry significant personal debt burden potentially leading to issues obtaining mortgages, car loans etc.</td>
                                </tr>
                                <tr>
                                    <td>Additional revenue may be available to colleges/universities and/or the Exchequer to invest in additional facilities or to deliver additional supports to students.</td>
                                    <td>Graduates may emigrate to avoid repayments.</td>
                                </tr>
                                <tr>
                                    <td>Repayments are income contingent, graduates only repay what they can afford based on earnings after a threshold.</td>
                                    <td>Significant administrative and implementation costs.</td>
                                </tr>
                                <tr>
                                    <td>Repayments are based on the graduate’s earnings and not their parents as is the case under the current means test.</td>
                                    <td>Loan system could involve rolling Exchequer borrowings and debt servicing costs which may not be possible in the current climate.</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>There may be a significant time lag before any additional funding is available to colleges/universities as graduates must graduate and begin earning before repaying.</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>The graduate’s personal debt may be subject to an annual rate of interest.</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
        </div>
    </div>
</div>
