<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2>Referendum Regulations</h2>
            <div class="well">
                <p>The regulations of the referendum are governed by the Students'
                Union constitution, and administered by the returning officer.
                The Union constitution can be viewed <a href="pages/constitution.pdf"
                    target="_blank">here</a></p>
            </div>
        </div>
    </div>
</div>
