<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
                <h2>Key Resources</h2>


                <div class="well">
                    <h6>The following links are provided for information only.
                    UCDSU is not responsible for the content on external
                    websites.</h6><br />

                    <h3>Blogs and News aggregates</h3>
                    <ul>
                        <li><a href="http://universitydiary.wordpress.com/">A University Blog</a></li>
                        <li><a href="http://9thlevel.ie/">Ninth Level Ireland</a></li>
                    </ul><br />


                    <h3>Student Groups</h3>
                    <ul>
                        <li><a href="http://free-education.info/">FEE – Free Education For Everyone</a></li>
                        <li><a href="http://www.labour.ie/youth/news/">Labour Youth</a></li>
                        <li><a href="http://yfg.ie/">Young Fine Gael</a></li>
                        <li><a href="http://www.ogra.ie/">Ogra Fianna Fail</a></li>
                        <li><a href="http://www.osf.ie/home/">Ogra Shinn Fein</a></li>
                        <li><a href="http://www.usi.ie/">Union of Students in Ireland</a></li>
                    </ul><br />


                    <h3>Interest Groups</h3>
                    <ul>
                        <li><a href="http://www.iua.ie/">Irish University Association</a></li>
                    </ul><br />



                    <h3>Economic Think Tanks and reports</h3>
                    <ul>
                        <li><a href="http://www.oecd.org/document/2/0,3746,en_2649_39263238_37843778_1_1_1_1,00&&en-USS_01DBC.html">OECD Report on Higher Education in Ireland</a></li>
                        <li><a href="http://www.oecd.org/dataoecd/30/46/37844047.pdf">OECD Review of the Irish Higher Education system</a></li>
                        <li><a href="http://www.irishtimes.com/focus/2011/hunt-report/index.pdf">The Hunt Report – The National Strategy for Higher Education</a></li>
                        <li><a href="http://www.esr.ie/Vol40_1/ESRI%2040-1-4.pdf">Rural Economic Research Centre: Report on Participation</a></li>
                        <li><a href="http://www.hea.ie/files/files/HEA%20Mid-Term%20Review%20National%20Plan%20of%20Equity%20Access%202008-2013_0.pdf">Mid-term review of Equity to access to higher education</a></li>
                        <li><a href="http://www.hea.ie/files/files/file/ReviewOfStudentCharge.pdf">HEA Review of the student charge (2010)</a></li>
                    </ul>
            </div>
        </div>
    </div>
