<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2>Returning Officer</h2>
            <div class="well">
                <p>This referendum, along with all UCDSU elections & referenda,
                is overseen by the Independent Returning Office.</p>

                <p>The Returning Officer, Morgan Shelley, can be contacted at
                <a href="mailto:returningoffice@ucdsu.ie?subject=Funding
                    Policy" target="_blank"
                    >returningoffice@ucdsu.ie</a></p>
            </div>
        </div>
    </div>
</div>
