<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2>How to Vote</h2>
            <div class="well">
                <p>The referendum will take the form of a multiple-choice
                preferendum. You can mark your preferences in order from 1 -
                5.</p>

                <p>The questions is as follows:</p>

                <h4>What should be the Students' Union policy on 3rd level
                    funding?</h4>
                <ul>
                    <li>Full Up-front fees</li>
                    <li>Fully exchequer funded</li>
                    <li>Graduate Tax</li>
                    <li>Student Contribution / Registration fee</li>
                    <li>Student Loan Scheme</li>
                </ul>
            </div>
        </div>
    </div>
</div>
