<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2>About Voting</h2>
            <div class="well">
                <ul>
                    <li>Voting will take place alongside the Students' Union
                    executive elections.</li>
                    <li>Voting will take place in Richview, Newstead, Smurfit &
                    Roebuck on Tuesday 10th April.</li>
                    <li>Voting will take place in Newman, Science, Health
                    Sciences, Quinn & Agriculture on Wednesday 11th April.</li>
                    <li>The count will take place on Thursday April 12th.</li>
                    <li>Don't forget your student card, you need it to
                    vote!</li>
                </ul>
            </div>
        </div>
    </div>
</div>
