html { 


} 

body { 


} 


/*******************************************************************
LAYOUT
*******************************************************************/

div { 


} 

#toTop { 


} 

#logo { 


} 

#clouds { 


} 

#grass { 


} 

#buttons { 


} 

#toContent { 


} 

#toTickets { 


} 

#toPromo { 


} 

.backdrop { 


} 

.box { 


} 

.leftcloud { 


} 

.rightcloud { 


} 

.toContent { 


} 

.toTickets { 


} 

.toPromo { 


} 

.content { 


} 

.act { 


} 

.tickets { 


} 

.videos { 


} 

