/*--- Structural Style ---*/
*{
    margin:0;
    padding:0;
}

body {
    text-align: center;
    background-image: url('../img/filler-tile.png'); 
    background-repeat: repeat;
}

#toTop {
    margin: 0 auto;   
}

/*--- Logo Style ---*/
#logo {
    left: 0;
    margin: 0 auto;
    margin-top: 20%;
    z-index: 300;
    position: relative;
}

#logo img {
    margin: 0px auto;
}


/*--- Sky Style ---*/
#sky {
    position: absolute;
    top: 0px;
    margin-left: -500px;
    left: 50%; 
}

#sky .sky {
    z-index: 200;    
    margin: 0 auto;
    width: 1000px;
}

/*--- Clouds Style ---*/
#sky .leftcloud {
    margin: 0 auto;
    margin-top: 75px;    
    top: 0px;
    left: 0px;
    float: left;
    position: absolute;
    z-index: 400;
}

#sky .rightcloud {
    margin: 0 auto;
    margin-top: 75px;    
    right: 0px;
    top: 0px;
    position: absolute;
    z-index: 400;
}

#sky .cloud-ticket {
    margin: 0 auto;
    margin-top: 75px;    
    top: 200px;
    left: 40px;
    float: left;
    position: absolute;
    z-index: 600;
}

#sky .cloud-date {
    margin: 0 auto;
    margin-top: 75px;    
    right: 40px;
    top: 200px;
    position: absolute;
    z-index: 600;
}



/*--- Grass Style ---*/
#grass {
    position: absolute;    
    margin-top: 350px;
    top: 0px;
    z-index: 500;    
    margin-left: -500px;
    left: 50%;
}

#grass img {
    margin: 0 auto;
}


/*--- Container Style ---*/
#container {
    position: absolute;
    z-index: 600;
    margin-left: -450px;
    left: 50%;
}

#container .content {
    height: 680px;
    width: 900px;
    margin: 5px auto;  
    border-radius: 10px;
}

#container .content p {
    text-align: right;
    padding-right: 5px;
}

#container .content .act p {
    display: inline;
}


#container .content a {
    margin: 0px auto;
}

#container .content .act {
    padding: 0px;
}

#container .content .act a {
    display: inline;
    padding: 0px;
}

#container .tickets {
    height: 200px;
    width: 900px;
    margin: 5px auto;  
    border-radius: 10px;

}

#container .tickets h3 {
    text-align: left;
    padding: 10px;
}

#container .tickets p {
    text-align: right;
    padding-right: 5px;
}

#container .tickets .outlets {
    text-align: left;
    padding-left: 5px;
}


#container .videos {
    height: 120px;
    width: 900px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;

}

#container .videos p {
    text-align: right;
    padding-right: 5px; 
}


#container .videos iframe {
    margin: 5px auto;
}


/*--- Lightbox Style ---*/
.backdrop
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
    z-index: 1000;
    display: none;
}


.box
{
    position: absolute;
    top: 0;
    left: 50%;
    width: 500px;
    min-height: 300px;
    border: 1px solid #000;
    padding-top: 20px;
    margin-left: -250px;
    background: #000;
    color: #FFF;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
    z-index: 1001;
    display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0, 0, 30px, #000;
    -moz-box-shadow: 0, 0, 30px, #000;
    -o-box-shadow: 0, 0, 30px, #000;
    box-shadow: 0, 0, 30px, #000;
}

.box h1 {
    font-family: "Museo Sans", "Charcoal", sans-serif;
    padding: 10px;
}    

.box p {
    font-family: "Verdana", "Geneva", sans-serif;    
    text-align: left;
    padding: 5px;
}


/*--- Scroll Button Styles ---*/
#buttons div {
    display: inline-block;
    height: 50px;    
}

#container .toContent {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0 auto;
    margin-top: 5px;
    width: 265px;
}

#container .toTickets {
    margin: 0 auto;
    margin-top: 5px;
    width: 265px;
}

#container .toPromo {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    margin-top: 5px;
    width: 265px;
}
