/*
 *
 * Theme: UCD Vote - Constitution 
 * Version: 1.0
 * Author: Sam Dunne
 * Website: http://sam-dunne.com
 *
 */

/*--- Quick Reset ---*/
* {
    margin: 0;
    padding: 0;
    behavior: url(scripts/ie-css3.htc);
}

html, body {
    height: 100%;
}

a img {
    border: none; 
}

/*--- Body ---*/
body {
    color: #000;
    background-image:url('../img/background.png');
    background-repeat:repeat-y repeat-x;
    width: 100%;
    font: 14px/180% Georgia, "Georgia MS", Times, "Times New Roman", serif;
}

body a {
    color: #000;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body h1 {
    text-align: center;
}

/*--- Header ---*/
header {
    background: #00c6ea;
    width: 100%;    
    text-align: center;
}
    
/*--- Section ---*/
section {
    margin: 0 auto -80px;    
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    width: 800px;   
    margin-bottom: 10px;
}

/*--- Navigation Bar ---*/
nav {
    background: #FFF;

    height:40px;
    width: 800px;
	
	text-align: center;
	line-height: 38px;
	font-size: 13px;

	position: relative;

    font-family: Futura, Veranda, Sans-Serif;
}

nav li:hover a {
	text-decoration: underline;    
}

nav li {
    background: #FFF;
	float: left;
	list-style: none;
	width: 260px;

}

nav ul ul {
    z-index: 3;
    background: #FFF;
    display:none;
}

nav ul li:hover ul {
    z-index: 3;  
    position: relative;
    display: block;
    top:0px;
    left: 0px;
    width: 260px; 
}


/*--- Article ---*/
article {
    background: #FFF;
    padding: 30px 60px 30px 0px; 
    margin-top: 60px;
    margin-bottom: 80px;
    position:relative;    
    word-wrap: break-word;

    border-radius: 10px;    
}

article .rectangle {
	background: #7f9db9;
	height: 50px;
	width: 850px;
	position: relative;

    padding-bottom:10px;
	float: left;
	z-index: 100; /* the stack order: foreground */
}

article .rectangle h2 {
	font-size: 30px;
	color: #fff;
	padding-top: 6px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	text-align: center;
}

article h1 {
    text-decoration: none;
    text-align: center;
}

article h2 {
    text-decoration: underline;
}

article p {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 60px;
    font-family: Verdana, Sans-Serif;
}

article .faq {
    padding-top: 20px;
}

article .verticalaccordion>ul {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-left: 70px;
    list-style:none;
    width: 500px;
}
 
article .verticalaccordion>ul>li {
    display:block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style:none;
    height:40px;
    width: 650px;
 
    /* Decorative CSS */
    background-color:#f0f0f0;
 
    /* CSS3 Transition Effect */
    transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -webkit-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
}
 
article .verticalaccordion>ul>li>h3 {
    display:block;
    margin: 0;
    padding:10px;
    height:19px;
 
    /* Decorative CSS */
    border-top:#f0f0f0 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    color: #FFF;
    background: #666666;
}
 
article .verticalaccordion>ul>li>div {
    margin:0;
    overflow: auto;
    padding:10px;
    height:500;
}
 
article .verticalaccordion>ul>li:hover {
    height: 500px;
}
 
article .verticalaccordion:hover>ul>li:hover>h3 {
    color:#666666;
    background: #FFF;
}
 
article .verticalaccordion>ul>li>h3:hover {
    cursor:pointer;
}

article .faq {
    padding-top: 20px;
    margin-left: 70px;    
}

article .faq li h3 {
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 60px;
    font-family: Verdana, Sans-Serif;
}

article .faq li p {
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 60px;
    font-family: Verdana, Sans-Serif;
}

article #IE {
    margin-left: 60px;
	width: 690px;
	height: 300px;
	background: url(../img/ie-pic.jpg);

    border-radius: 10px;  
}

article .info {
	padding: 60px 25px 35px 25px;
}

article .info h2 {
	font-size: 20px;
}

article .info p {
	padding-top: 10px;
	font-size: 14px;
	line-height: 22px;
}

article .info p a {
	color: #c4591e;
	text-decoration: none;
}

article .info p a:hover {
	text-decoration: underline;
}

article #social {
	font-family: Futura, Verdana, Sans-Serif;
	font-size: 18px;
	color: #000;
	height: 120px;
}

article #social ul {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
	font:0.875em/1 Arial, sans-serif;
}

article #social h3 {
	display: inline;
	border-bottom: dashed 1px #ccc;
}

article #social ul li {
	width:33px;
	height:33px;
	padding: 5px 5px 5px 5px;
	margin-left: 5px;    
}

article #social ul li a {
	display:block;
	width:32px;
	height:32px;
	overflow: hidden;
	border:1px solid transparent;
	line-height:32px;
	text-decoration:none;

	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px; 
}

article #social ul li a:hover, ul li a:focus, ul li a:active {
	opacity:0.8;
	border-color:#000;
}

article .facebook {
	border-color:#3c5a98;
	text-transform:lowercase;
	text-indent:17px;
	letter-spacing:10px;
	font-weight:bold;
	font-size:32px;
	line-height:33px;
	color:#fff;
	background:#3c5a98;

	-moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
	box-shadow:0 0 4px rgba(0,0,0,0.4);
}

article .twitter {
	border-color:#a8eaec;
	text-transform:lowercase;
	text-indent:18px;
	letter-spacing:20px;
	font:bold 30px/1 Tahoma, sans-serif;
	line-height:30px;
	color:#76DDF8;
	background:#daf6f7;

	text-shadow: 3px 3px 1px #fff, -3px -3px 1px #fff, 3px -3px 1px #fff, -3px 3px 1px #fff;

    -moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
	box-shadow:0 0 4px rgba(0,0,0,0.4); 

    background:-webkit-gradient(linear, left top, left bottom, from(#dbf7f8), to(#88e1e6));
	background:-moz-linear-gradient(top, #dbf7f8, #88e1e6);
}


/*--- Footer ---*/
footer {
    background: #4ac4e6;
    width: 100%;
    border-top: 1px solid black;
    text-align: center;
}

footer .footer {
   position: relative;
   width: 100%;
}

footer .footer h2 span a {
    text-decoration: none;
    color: #FFF;
}

footer .footer h2 {
   position: absolute;
   top: 30px;
   left: 0;
   width: 100%;
}

footer .footer h2 span {
   color: white;
   font: bold 20px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}
